.imagen{
    text-align: center;
    justify-content: center;
    width: 100px;
}
.imagen img{
    width: 100%;
    height: 100%;
}

ngx-dropzone,
.custom-dropzone {
  margin: 10px; 
  width: 70%;
  height: 75%;
}

.custom-dropzone {
	/* height: 250px; */
	/* background: #333; */
	/* color: #fff; */
	/* border: 5px dashed rgb(235, 79, 79); */
	border-radius: 5px;
	font-size: 1vh;
}

/* .custom-dropzone.ngx-dz-hovered {
  border: 5px solid rgb(235, 79, 79);
}  */

::ng-deep .cdk-overlay-container {
  z-index: 9999 !important;
}

::ng-deep.mat-form-field {
  /*change color of underline when focused*/
  background-color: #f96332 !important;
  border-color: red; 
  
 } 

  mat-label{
  color: black;
}

/* Border */
/*.mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
} */

::ng-deep .mat-select-panel{
  background-color: white !important;
}



.mat-option:hover {
   background: #cdcdcd !important;
   /* color: green !important; */
 }


.error{
  height: 40px;
}