<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Mi Perfil</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="empresaForm">
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Nombre Comercial</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    [attr.disabled]="true"
                    placeholder="Nombre Comercial"
                    [value] = this.empresa?.emp_cncomer
                  >
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Razón Social</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Razón Social" 
                    [value]=this.empresa?.emp_crass
                  >
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label for="email">Correo Electrónico</label>
                  <input 
                    name="email" 
                    id="email" 
                    type="email" 
                    class="form-control" 
                    placeholder="Email"
                    [value]=this.empresa?.emp_cemail
                    formControlName = email
                    #email
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>RUC</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    placeholder="RUC" 
                    [value]="this.empresa?.emp_cruc"
                  >
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Contraseña</label>
                  <input 
                    type="password" 
                    class="form-control" 
                    placeholder="Contraseña" 
                    [value]="this.empresa?.emp_cpassw"
                  >
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Teléfono</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Telefono" 
                    [value]="this.empresa?.emp_ctelef"
                    formControlName = "telefono"
                    #telefono
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Dirección</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Dirección" 
                    [value]="this.empresa?.emp_cdir"
                    formControlName = "direccion"
                    #direccion
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Departamento</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Departamento" 
                    [value]="this.empresa?.emp_cdepa"
                    formControlName = "departamento"
                    #departamento
                  >
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Provincia</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Provincia" 
                    [value]="this.empresa?.emp_cprov"
                    formControlName = "provincia"
                    #provincia
                  >
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Distrito</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Distrito"
                    [value]="this.empresa?.emp_cdist"
                    formControlName = "distrito"
                    #distrito
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Descripción</label>
                  <textarea 
                    rows="3" 
                    cols="80" 
                    class="form-control" 
                    placeholder="Aquí va su descripción" 
                  >
                  {{this.empresa?.emp_cdesc}}
                  </textarea>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
              <div class="col">
                <button class="btn btn-primary pull-right" (click)="actualizarEmpresa()">Actualizar</button>
              </div>
              <!-- <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago -->
              
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/misti.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a>
              <img *ngIf="this.empresa.emp_clogo.length == 0; else elseImage" class="avatar border-gray" src="../assets/img/nouser.jpg" alt="...">
              <ng-template #elseImage>
                <img class="avatar border-gray" src={{this.empresa.emp_clogo}} alt="...">
              </ng-template>
              <h5 class="title">{{this.empresa?.emp_cncomer}}</h5>
            </a>
            <p class="description">
              {{this.empresa?.emp_crass}}
            </p>
          </div>
          <p class="description text-center">
            "{{this.empresa?.emp_cdesc}}"
          </p>
        </div>
        <hr>
        <!-- <div class="button-container">
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
        </div> -->
      </div>
    </div>
  </div>
</div>

