<div class="panel-header panel-header-sm">

</div>



<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title text-center">FERRIMAX EIRL</h5>
                    <h6 class="title text-center">FERRETERIA INTEGRAL MAX E.I.R.L. - FERRIMAX E.I.R.L.</h6>
                </div>








                <div class="card-body">

                    <ul role="tablist" class="nav nav-tabs">
                        <li class="nav-item">
                            <a data-toggle="tab" href="#cotizar" role="tablist" class="nav-link cotizar-btn active"> COTIZAR </a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" href="#ventas" role="tablist" class="nav-link cotizar-btn "> MIS VENTAS </a>
                        </li>

                    </ul>

                    <div class="tab-content tab-space">
                        <div id="cotizar" class="tab-pane cotizar active">

                            <hr>

                            <div class="card-body all-icons">
                                <div class="row ">

                                    <div class=" text-center contenedor-icono">
                                        <a class="link-icono" href="#">
                                            <i class="now-ui-icons loader_refresh"></i>
                                            <p>Actualizar (f5)</p>
                                        </a>

                                    </div>
                                    <div class=" text-center contenedor-icono">
                                        <a class="link-icono" href="#">
                                            <i class="now-ui-icons files_paper"></i>
                                            <p>Documento</p>
                                        </a>
                                    </div>
                                    <h4>COTIZACIONES</h4>
                                </div>
                                <hr>
                                <div>
                                    <form class="form-inline">
                                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">

                                        <label for="" class="mx-3">LISTA DE COTIZACIONES  </label>

                                        <label for="">DESDE:
                                        <input type="date" class="mr-3">
                                    </label>

                                        <label for="">HASTA:
                                        <input type="date" name="" id="">
                                    </label>

                                        <button class="btn btn-primary btn-round ml-5" type="submit">Buscar</button>
                                    </form>
                                </div>

                                <div>
                                    <div class="col-md-12">
                                        <div class="card">

                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead class=" text-primary">
                                                            <th>
                                                                RUC. Emisor
                                                            </th>
                                                            <th>
                                                                Empresa Emisora
                                                            </th>
                                                            <th>
                                                                Provincia
                                                            </th>
                                                            <th>
                                                                Distrito
                                                            </th>
                                                            <th>
                                                                Dirección
                                                            </th>
                                                            <th class="text-right">
                                                                Fecha
                                                            </th>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    Dakota Rice
                                                                </td>
                                                                <td>
                                                                    Niger
                                                                </td>
                                                                <td>
                                                                    Oud-Turnhout
                                                                </td>
                                                                <td>
                                                                    Oud-Turnhout
                                                                </td>
                                                                <td>
                                                                    Oud-Turnhout
                                                                </td>
                                                                <td class="text-right">
                                                                    $36,738
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td>
                                                                    Dakota Rice
                                                                </td>
                                                                <td>
                                                                    Niger
                                                                </td>
                                                                <td>
                                                                    Oud-Turnhout
                                                                </td>
                                                                <td>
                                                                    Oud-Turnhout
                                                                </td>
                                                                <td>
                                                                    Oud-Turnhout
                                                                </td>
                                                                <td class="text-right">
                                                                    $36,738
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>



                                <hr>

                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="col-md-12">
                                            <div class="card">

                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead class=" text-primary">
                                                                <th>
                                                                    Cant.
                                                                </th>
                                                                <th>
                                                                    Descripción
                                                                </th>
                                                                <th class="text-right">
                                                                    Precio U.
                                                                </th>
                                                                <th class="text-right">
                                                                    Total
                                                                </th>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        Dakota Rice
                                                                    </td>
                                                                    <td>
                                                                        Niger
                                                                    </td>
                                                                    <td class="text-right">
                                                                        Oud-Turnhout
                                                                    </td>
                                                                    <td class="text-right">
                                                                        $36,738
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td>
                                                                        Dakota Rice
                                                                    </td>
                                                                    <td>
                                                                        Niger
                                                                    </td>
                                                                    <td class="text-right">
                                                                        Oud-Turnhout
                                                                    </td>
                                                                    <td class="text-right">
                                                                        $36,738
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-4">
                                        <div class="card" style="width: 18rem;">
                                            <div class="card-body text-center">
                                                <h5 class="card-title ">CREADO</h5>
                                                <h6 class="card-subtitle mb-2 text-muted">SELECCIONAR PRECIO</h6>

                                                <form action="">
                                                    <select>
                                                    <option>
                                                        Precio Mayorista
                                                    </option>
                                                    <option>
                                                        Precio Minorista
                                                    </option>
                                                    <option>
                                                        Precio Distribuidor
                                                    </option>
                                                </select>
                                                </form>

                                                <button type="button" class="btn btn-primary btn-round">ENVIAR RESPUESTA</button>
                                                <button type="button" class="btn btn-primary">RECHAZAR</button>
                                                <h3>S/.0.0</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>



                        <!-- ==================================================================================================================== -->
                        <!-- vista  de la pestaña de MIS VENTAS -->
                        <div id="ventas" class="tab-pane cotizar">
                            <hr>

                            <div class="card-body all-icons">
                                <div class="row ">

                                    <div class=" text-center contenedor-icono">
                                        <a class="link-icono" data-toggle="modal" data-target="#ventanaModal">
                                            <i class="now-ui-icons design-2_ruler-pencil"></i>
                                            <p>Ver/Editar</p>
                                        </a>

                                    </div>

                                    <div class=" text-center contenedor-icono">
                                        <a class="link-icono" href="#">
                                            <i class="now-ui-icons loader_refresh"></i>
                                            <p>Actualizar (f5)</p>
                                        </a>

                                    </div>
                                    <div class=" text-center contenedor-icono">
                                        <a class="link-icono" href="#">
                                            <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                            <p>Desbloquear</p>
                                        </a>
                                    </div>
                                    <h4>MIS VENTAS</h4>
                                </div>
                                <hr>
                                <div>
                                    <form class="form-inline">
                                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">

                                        <label for="" class="mx-3">LISTA DE ORDENES DE VENTAS  </label>



                                        <button class="btn btn-primary btn-round ml-5" type="submit">Buscar</button>
                                    </form>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">

                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead class=" text-primary">

                                                            <th>
                                                                Número
                                                            </th>
                                                            <th>
                                                                RUC / Cliente
                                                            </th>
                                                            <th>
                                                                RAZ. SOCIAL / Cliente
                                                            </th>
                                                            <th>
                                                                Total
                                                            </th>
                                                            <th class="text-right">
                                                                Estado
                                                            </th>
                                                        </thead>
                                                        <tbody>
                                                            <tr>

                                                                <td>
                                                                    Niger
                                                                </td>
                                                                <td>
                                                                    Oud-Turnhout
                                                                </td>
                                                                <td>
                                                                    Oud-Turnhout
                                                                </td>
                                                                <td>
                                                                    Oud-Turnhout
                                                                </td>
                                                                <td class="text-right">
                                                                    $36,738
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-warning" data-toggle="modal" data-target="#ventanaModal" type="button">Ver/Editar</button>
                                                                </td>
                                                            </tr>

                                                            <tr>

                                                                <td>
                                                                    Niger
                                                                </td>
                                                                <td>
                                                                    Oud-Turnhout
                                                                </td>
                                                                <td>
                                                                    Oud-Turnhout
                                                                </td>
                                                                <td>
                                                                    Oud-Turnhout
                                                                </td>
                                                                <td class="text-right">
                                                                    $36,738
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-warning" data-toggle="modal" data-target="#ventanaModal" type="button">Ver/Editar</button>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <!-- modal para ver y editar ventas -->
                                <div class="modal" id="ventanaModal" tabindex="-1" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-center">FP-OrdenCompra</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                            </div>

                                            <div class="modal-body">
                                                <form class="needs-validation" novalidate>
                                                    <fieldset disabled>
                                                        <div class="form-row">
                                                            <div class="col-md-6 mb-3">
                                                                <label for="validationCustom01">RUC/Cliente</label>
                                                                <input type="text" class="form-control" id="validationCustom01" value="Mark">
                                                                <div class="valid-feedback">
                                                                    Looks good!
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 mb-3">
                                                                <label for="validationCustom02">Razon Social / Cliente</label>
                                                                <input type="text" class="form-control" id="validationCustom02" value="Otto">
                                                                <div class="valid-feedback">
                                                                    Looks good!
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </fieldset>

                                                    <div class="form-row">
                                                        <div class="col-md-3 mb-3">
                                                            <label for="validationCustom01">Serie</label>
                                                            <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 mb-3">
                                                            <label for="validationCustom02">Número de OC</label>
                                                            <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>

                                                        <div class="col-md-3 mb-3">
                                                            <label for="validationCustom01">Ubigeo</label>
                                                            <input type="text" class="form-control" id="validationCustom01" value="Mark" disabled>
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 mb-3">
                                                            <label for="validationCustom02">Moneda</label>
                                                            <input type="text" class="form-control" id="validationCustom02" value="Otto" disabled>
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="col-md-12 mb-3">
                                                            <label for="validationCustom02">Dirección Completa</label>
                                                            <input type="text" class="form-control" id="validationCustom02" value="Otto" disabled>
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                    </div>


                                                </form>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="card">

                                                            <div class="card-body">
                                                                <div class="table-responsive">
                                                                    <table class="table table-striped">
                                                                        <thead class=" text-primary ">

                                                                            <th>
                                                                                Cant.
                                                                            </th>
                                                                            <th>
                                                                                Descripción
                                                                            </th>
                                                                            <th class="text-right">
                                                                                Desc.(%)
                                                                            </th>

                                                                            <th class="text-right">
                                                                                Total
                                                                            </th>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>

                                                                                <td>
                                                                                    Niger
                                                                                </td>
                                                                                <td>
                                                                                    Oud-Turnhout
                                                                                </td>
                                                                                <td class="text-right">
                                                                                    Oud-Turnhout
                                                                                </td>

                                                                                <td class="text-right">
                                                                                    $36,738
                                                                                </td>

                                                                            </tr>

                                                                            <tr>

                                                                                <td>
                                                                                    Niger
                                                                                </td>
                                                                                <td>
                                                                                    Oud-Turnhout
                                                                                </td>
                                                                                <td class="text-right">
                                                                                    Oud-Turnhout
                                                                                </td>

                                                                                <td class="text-right">
                                                                                    $36,738
                                                                                </td>

                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row">

                                                    <div class="col col-md-7 mb-3">
                                                        <form class="needs-validation" novalidate>

                                                            <div class="form-row">
                                                                <div class="col-md-6 mb-3">
                                                                    <label for="validationCustom01">Condición</label>
                                                                    <input type="text" class="form-control" id="validationCustom01" value="Mark">
                                                                    <div class="valid-feedback">
                                                                        Looks good!
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 mb-3">
                                                                    <label for="validationCustom02">Días</label>
                                                                    <input type="number" class="form-control" id="validationCustom02" value="Otto">
                                                                    <div class="valid-feedback">
                                                                        Looks good!
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col-md-6 mb-3">
                                                                    <label for="validationCustom01">Anticipio</label>
                                                                    <input type="text" class="form-control" id="validationCustom01" value="Mark">
                                                                    <div class="valid-feedback">
                                                                        Looks good!
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 mb-3">
                                                                    <label for="validationCustom02">Fecha Vencimiento</label>
                                                                    <input type="date" class="form-control" id="validationCustom02" value="Otto">
                                                                    <div class="valid-feedback">
                                                                        Looks good!
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </form>
                                                    </div>

                                                    <div class="col col-md-5 mb-3">
                                                        <form>
                                                            <div class="form-row">
                                                                <div class="col-md-6 mb-3">
                                                                    <label for="validationCustom01">Precio Venta: </label>

                                                                </div>
                                                                <div class="col-md-6 mb-3">
                                                                    <label for="validationCustom02">22.22</label>

                                                                </div>

                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col-md-6 mb-3">
                                                                    <label for="validationCustom01">Descuento:</label>

                                                                </div>
                                                                <div class="col-md-6 mb-3">
                                                                    <label for="validationCustom02">0.0</label>

                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col-md-6 mb-3">
                                                                    <label for="validationCustom01">Total Venta:</label>

                                                                </div>
                                                                <div class="col-md-6 mb-3">
                                                                    <label for="validationCustom02">22.22</label>

                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>


                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">CERRAR</button>
                                                <button type="button" class="btn btn-success">ACEPTAR</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr>
                                <!-- contenido de la tabla inferior para ver las ventas -->
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="col-md-12">
                                            <div class="card">

                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead class=" text-primary">
                                                                <th>
                                                                    Cant.
                                                                </th>
                                                                <th>
                                                                    Descripción
                                                                </th>
                                                                <th class="text-right">
                                                                    Precio U.
                                                                </th>
                                                                <th class="text-right">
                                                                    Total
                                                                </th>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        Dakota Rice
                                                                    </td>
                                                                    <td>
                                                                        Niger
                                                                    </td>
                                                                    <td class="text-right">
                                                                        Oud-Turnhout
                                                                    </td>
                                                                    <td class="text-right">
                                                                        $36,738
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td>
                                                                        Dakota Rice
                                                                    </td>
                                                                    <td>
                                                                        Niger
                                                                    </td>
                                                                    <td class="text-right">
                                                                        Oud-Turnhout
                                                                    </td>
                                                                    <td class="text-right">
                                                                        $36,738
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-4">
                                        <div class="card" style="width: 18rem;">
                                            <div class="card-body text-center">

                                                <h5 class="card-subtitle mb-2 text-muted">ESTADO</h5>
                                                <ol>
                                                    <li>CREADO</li>
                                                    <li>ATENDIDO</li>
                                                    <li>EMBALAJE</li>
                                                    <li>ENVIADO</li>
                                                    <li>RECIBIDO</li>
                                                </ol>
                                                <button type="button" class="btn btn-primary btn-round btn-block">ATENDIDO</button>
                                                <button type="button" class="btn btn-primary btn-block">IMPRIMIR</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>

                </div>
                <div>